<html>
  <body>
    <link rel="stylesheet" href="/public/css/footer.css" />
    <footer>
      <div class="about">
        <h1><span class="logo-text">Node Your</span> <span>MERN</span></h1>
        <p>
          Welcome to Node Your MERN, where we share knowledge, insights, and
          experiences on various MERN (MongoDB, Express.js, React, and Node.js)
          topics. Our blog covers everything from technology to business,
          lifestyle, and more.
        </p>
        <!-- Contacts -->
      </div>
    </footer>
  </body>
</html>
